:root {
  --degrees-hours: 0;
  --degrees-minutes: 90;
  --degrees-seconds: 180;
}

html {
  font-family: "Courier New", Courier, monospace;
}

body {
  margin: 0;
}

main {
  background-color: gold;
  border-radius: 1rem solid black;
  height: 100vh;
  /*text-align: center;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dial {
  /*Zifferblatt*/
  background-color: white;
  background: radial-gradient(circle, black 5%, white 5%);

  border-radius: 50%;
  border: 0.25rem solid black;
  box-shadow: 0.25rem 0.25rem 1rem gray;

  width: 40vmin;
  aspect-ratio: 1;

  position: relative;

  transform: rotate(-90deg);
}

.clock-analog_minute-hand {
  /* Minutenzeiger */
  background-color: black;
  background-image: linear-gradient(90deg, orange 50%, purple 50%);
  height: 0.3vmin;
  width: 10vmin;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(0deg);
  transform: rotate(var(--degrees-minutes));
  transform-origin: 0% 50%;
}

.clock-analog_hour-hand {
  /* Stundenzeiger */
  background-color: black;
  background-image: linear-gradient(90deg, red 50%, blue 50%);
  height: 0.3vmin;
  width: 6vmin;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(0deg);
  transform: rotate(var(--degrees-hours));
  transform-origin: 0% 50%;
}

.clock-analog_second-hand {
  /* Sekundenzeiger */
  background-color: black;
  background-image: linear-gradient(90deg, green 50%, purple 50%);
  height: 0.2vmin;
  width: 10vmin;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(0deg);
  transform: rotate(var(--degrees-seconds));
  transform-origin: 0% 50%;
}

.clock-digital {
  font-size: 2rem;
  font-weight: 600;
}
